.hero {
    position: relative;
    width: 100%;
    height: 91vh;
    overflow: hidden;
  
    background-image: url('/images/hero1.png');
    background-size: cover;
    background-position: center;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    padding: 40px;
  }
  .hero-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  /* BLACK OVERLAY */
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }
  
  /* LEFT column wrapper */
  .slices-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
  
    position: relative;
    z-index: 2; /* above overlay */
  }
  
  /* Slice style */
  .slice {
    width: 80px;
    border-radius: 30px;
  
    /* Frosted-glass look */
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(6px);
  
    /* Actual sliced background image */
    background-image: url('/images/hero1.png');
    background-repeat: no-repeat;
    background-size: 600% 100%;
    background-position-y: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }
  
  /* Background position for each of 6 slices */
  .slice[data-i="1"] { background-position-x: 0%; }
  .slice[data-i="2"] { background-position-x: 20%; }
  .slice[data-i="3"] { background-position-x: 40%; }
  .slice[data-i="4"] { background-position-x: 60%; }
  .slice[data-i="5"] { background-position-x: 80%; }
  .slice[data-i="6"] { background-position-x: 100%; }
  
  /* Different heights */
  /* .h1 { height: 580px; }
  .h2 { height: 590px; }
  .h3 { height: 550px; }
  .h4 { height: 600px; }
  .h5 { height: 620px; }
  .h6 { height: 400px; } */
  
  /* RIGHT text block */
  .hero-text {
    width: 420px;
    color: #fff;
    font-family: "Playfair Display", serif;
    margin-right: 100px;
    position: relative;
    z-index: 2; /* Above overlay */
  }
  
  /* Heading */
  .hero-text h1 {
    font-size: 52px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    font-weight: 600;
  }
  
  /* Paragraph */
  .hero-text p {
    font-size: 18px;
    line-height: 1.7;
    opacity: 0.92;
  }
  /* bottom arrows */
.hero-arrows {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 999;
  }
  
  .arrow-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    backdrop-filter: blur(5px);
  }
  
  .arrow-btn:hover {
    background: rgba(255, 255, 255, 1);
  }
  